<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

    <link type="image/x-icon" th:href="@{/img/logo_favicon.png}" rel="shortcut icon"/>

</head>
<body id="login-page-full" class="theme-whbl">
<div id="login-full-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img th:src="@{img/logo.png}" alt=""/>
                                </div>
                            </header>
                            <div th:if="${message}">
                                <div class="alert alert-danger">
                                    <i class="fa fa-times-circle fa-fw fa-lg"></i>
                                    <strong>!</strong> <span th:text="${message}"></span>
                                </div>
                            </div>
                            <div id="login-box-inner">
                                <form role="form" action="" method="post" id="registration-form">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" name="firstName" type="text"
                                               placeholder="First name" required="required"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" name="lastName" type="text" placeholder="Last name" required="required"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input class="form-control" name="email" type="email"
                                               placeholder="Email address" required="required"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" name="password" class="form-control"
                                               placeholder="Enter password" required="required"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                        <input type="password" name="retypedPassword" class="form-control"
                                               placeholder="Re-enter password" required="required"/>
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" name="hasAcceptedPolicy" checked="checked"
                                                           id="condition-accept-check"/>
                                                    <label for="condition-accept-check">
                                                        I accept terms and conditions
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12" id="registration-submit">Register
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="social-text">Go back to <a th:href="@{/login}">Login</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var submitBtn = $('#registration-submit');

        $('#condition-accept-check').on('click', function () {
            if ($('#condition-accept-check').is(':checked')) {
                submitBtn.attr('disabled', 'disabled');
            } else {
                submitBtn.removeAttr('disabled');
            }
        });
        var form = $('#registration-form');
        form.submit(function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                return;
            }
        });

    });
</script>
</body>
</html>