<div class="row" id="user-profile">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="main-box clearfix profile-box-contact">
            <div class="main-box-body clearfix">
                <div class="profile-box-header gray-bg clearfix">
                    <img src="img/samples/scarlet-159.png" alt="" class="profile-img img-responsive">
                    <h2>{{userData.lastName}} {{userData.firstName}}</h2>
                    <div class="job-position" >
                        Enabled: <span *ngIf="userData.enabled" class="fa fa-check"></span>
                        <span *ngIf="!userData.enabled" class="fa fa-minus"></span>
                    </div>
                    <ul class="contact-details">
                        <li>
                            <i class="fa fa-envelope"></i> {{userData.email}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="main-box infographic-box colored red-bg">
            <i class="fa fa-user"></i>
            <span class="headline">Users</span>
            <span class="value">{{usersReport.userCount}}</span>
        </div>
    </div>
</div>
<div class="row" *ngIf="clients.length>0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Grand types</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let client of clients'>
            <td>client.id</td>
            <td>authorizedGrantTypes</td>
        </tr>
        </tbody>
    </table>
</div>