<div class="row">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>User Full Name</h2>
                </header>

                <div class="main-box-body clearfix">
                    <div class="profile-status">
                        <i class="fa fa-circle"></i> Online
                    </div>

                    <img src="img/samples/scarlet-159.png" alt="avatar" title="Avatar" class="profile-img img-responsive center-block">

                </div>

            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="col-lg-2">Email</div><div class="col-lg-10">ToDo</div>
                <div class="col-lg-2">First name</div><div class="col-lg-10">ToDo</div>
                <div class="col-lg-2">Last name</div><div class="col-lg-10">ToDo</div>
                <div class="col-lg-2">Enabled</div><div class="col-lg-10">ToDo</div>
                <div class="col-lg-3"> <a href="#/users/edit/">Edit</a></div>
                <div class="col-lg-3"> <a href="#/users/change_password/">Change Password</a></div>
            </div>
        </div>
    </div>
</div>
