<div class="row" id="user-profile">
    <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 *ngIf="userData.lastName || userData.firstName ">{{userData.lastName}} {{userData.firstName}}</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="profile-status">
                    <i class="fa fa-circle"></i> Online
                </div>

                <img src="img/samples/scarlet-159.png" alt="avatar" title="Avatar"
                     class="profile-img img-responsive center-block">

            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="main-box clearfix">
            <div class="form-group" *ngIf="userData.email">
                <div class="col-lg-4">Email</div>
                <div class="col-lg-8">{{userData.email}}</div>
            </div>
            <div class="form-group" *ngIf="userData.firstName">
                <div class="col-lg-4">First name</div>
                <div class="col-lg-8">{{userData.firstName}}</div>
            </div>
            <div class="form-group" *ngIf="userData.lastName">
                <div class="col-lg-4">Last name</div>
                <div class="col-lg-8">{{userData.lastName}}</div>
            </div>
            <div class="form-group" *ngIf="userData.enabled">
                <div class="col-lg-4">Enabled</div>
                <div class="col-lg-8">{{userData.enabled}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="clients.length>0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Grand types</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let client of clients'>
            <td>client.id</td>
            <td>authorizedGrantTypes</td>
        </tr>
        </tbody>
    </table>
</div>