<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#/user/profile">User</a></li>
            <li class="active"><span>Change password</span></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Change password</h2>
            </header>
            <div class="main-box-body clearfix">
                <form (ngFormModel)="form" novalidate (submit)="save($event)" #passwordForm="ngForm">
                    <div class="form-group" [ngClass]="{'has-error':!(password.valid || password.pristine) || !arePasswordsEqual(password, confirmPassword)}">
                        <label for="password" class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control ng-valid"
                                   id="password" placeholder="New password"
                                   required
                                   [(ngModel)]="form.password"  name="password"
                                    #password="ngModel"/>

                        </div>
                        <div class="col-lg-offset-3 col-lg-9" [hidden]="password.valid || password.pristine">
                            <span class="help-block" ><i class="icon-remove-sign"></i>Password is required</span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!(confirmPassword.valid || confirmPassword.pristine) || !arePasswordsEqual(password, confirmPassword)}">
                        <label for="confirmPassword" class="col-lg-3 control-label">Confirm password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control"
                                   id="confirmPassword" placeholder="Confirm password"
                                   required
                                   [(ngModel)]="form.confirmPassword" name="confirmPassword"
                                   #confirmPassword="ngModel"/>
                        </div>
                        <div class="col-lg-offset-3 col-lg-9" [hidden]="confirmPassword.valid || confirmPassword.pristine ">
                            <span class="help-block" ><i class="icon-remove-sign"></i>Confirm password is required</span>
                        </div>
                        <div class="col-lg-offset-3 col-lg-9" [hidden]="arePasswordsEqual(password, confirmPassword)">
                            <span class="help-block" ><i class="icon-remove-sign"></i>Passwords are not equal</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-offset-7 col-lg-5" style="margin-top: 2%;">
                            <button type="submit" class="btn btn-success" [disabled]="!passwordForm.form.valid">Change password</button>
                            or
                            <a href="#/user/profile">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>