<!DOCTYPE html>
<html>
<head>

</head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Demo</title>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width"/>

<link rel="stylesheet" href="../css/theme.css"/>
<link rel="stylesheet" href="../webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>

<script type="text/javascript" src="../webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link type="image/x-icon" href="../img/logo_favicon.png" rel="shortcut icon"/>
</html>

<body id="login-page-full" class="theme-whbl">
<div id="login-full-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div id="login-box-holder">
                        <div class="row">
                            <div class="col-xs-12">
                                <header id="login-header">
                                    <div id="login-logo">
                                        <img src="img/logo.png" alt=""/>
                                    </div>
                                </header>
                                <div id="login-box-inner" class="well">
                                    Registration request has been accepted. Please check your email address for
                                    activation token.
                                </div>
                                <div id="login-box-footer">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            You can now go back to
                                            <a href="../login">
                                                Login page
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>