<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Token verification</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

    <link type="image/x-icon" th:href="@{/img/logo_favicon.png}" rel="shortcut icon"/>

</head>

<body id="login-page-full" class="theme-whbl">
<div id="login-full-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div id="login-box-holder">
                        <div class="row">
                            <div class="col-xs-12">
                                <header id="login-header">
                                    <div id="login-logo">
                                        <img th:src="@{/img/logo.png}" alt=""/>
                                    </div>
                                </header>
                                <div id="login-box-inner" class="well">
                                    <div th:if="${message}">
                                        <div class="success alert-success">
                                            <i class="fa fa-times-circle fa-fw fa-lg"></i>
                                            <span th:text="${message}"></span>
                                        </div>
                                    </div>
                                    <div th:if="${error}">
                                        <div class="alert alert-danger">
                                            <i class="fa fa-times-circle fa-fw fa-lg"></i>
                                            <strong>!</strong> <span th:text="${error}"></span>
                                        </div>
                                    </div>
                                    <form role="form" th:action="@{/registration/confirmation}" method="post">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input class="form-control" name="token" type="text"
                                                   placeholder="Token" required="required"/>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success col-xs-12" id="registration-submit">Confirm token
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="social-text">Go back to <a th:href="@{/login}">Login</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>